<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Home</title>
</head>
<body>
<div id="lists">
    <nav id="navbar-target" class="navbar" role="navigation">
        <div class="navbar navbar-wrap">
            <div class="logo">
                <a class="logo-text" href="/">304 Project</a>
            </div>
            <div class="buttons-container">
                <a class="button button-login">View Later</a>
                <a class="button button-signup">History</a>
                <a class="button button-signup">Stats</a>
            </div>
        </div>
    </nav>
    <div class="lists-container">
        <div class="results-container">
            <div class="results-header">
                View Later
            </div>
            <div class="results-section">
                <div  class="result-wrapper" v-for="(m, index) in viewLater" v-on:click="setIndex($event)">
                    <div  class="result">
                        <div class="result-index">{{index}}</div>
                        <div v-if="m.category !== 'empty'" class="result-category">{{m.category}} </div>
                        <div v-if="m.creator !== 'empty'" class="result-creator">{{m.creator}} </div>
                        <div class="result-title">{{m.mediaTitle}} </div>
                        <div v-if="m.rating !== 0">{{m.id}} </div>
                        <div @click="removeFromViewLater" class="add-to-view-later"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>
</body>
<script src="../js/axios.js"></script>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript" src="/js/viewLater.js"></script>
<script src="../js/fa.js"></script>
</html>